{% extends 'base.html.twig' %}

{% block title %}myLoc {{bien.nomBien}}{% endblock %}

{% block body %}
<div class="container">

    <div class="row text-center d-flex justify-content-center align-items-center my-4">
                    
        <div class='col-12 my-3'>
        <h2>{{bien.nomBien}}</h2>
        <p><a href="categorie/{{categorie.id}}" class="lien">{{bien.categorie}}</a></p>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center align-self-start ">
            <img src="/uploads/{{bien.image}}" class="img-fluid mb-5 w-75" alt="">
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center align-items-center flex-column">

            <p class="description p-2">{{bien.description}}</p>
            <p class="mt-2"><a href="/profil/{{ proprietaire.id }}" class="lien">Voir le profil de {{bien.proprietaire}}</a></p>
                
                {% if app.user and proprietaire.id == user.id %}
                <button class='btn btn-secondary my-3' disabled> Reserver</button>
                {% else %}
                <button class='btn btn-warning my-3'><a href='profile/bien/{{bien.id}}/pret' >Réserver</a></button>
                {% endif %}
        </div>
        

        <div class='col-12 my-3'>
        <a href="/" class="btn btn-warning my-2">Retour</a>
        </div>
        
    </div>

</div>
{% endblock %}
