{% extends 'base.html.twig' %}

{% block title %}myLoc - Tout pour réussir votre marriage{% endblock %}

{% block body %}
<div >
<div class="container-fluid">
    <div class="row home">
        <div class="col-6 homeImg"></div>
        <div class="col-6 text-center my-auto">
        <h1 class="slogan font-weight-bold animate__animated animate__fadeIn">Prêtez, rendez service et <br> 
        soyez récompensés !</h1>
        <p class="my-5 animate__animated animate__fadeIn animate__delay-1s">myLoc est une plateforme d'échange de biens et services nécessaires à l'organisation de mariages marocains. <br> 
        Des dizaines de biens et serives sont déjà disponibles !</p>
    <button type="button" class="btn btn-dark animate__animated animate__fadeIn animate__delay-2Adms"><a href="#annonces">Consultez nos annonces</a></button>
        </div>
    </div>
</div>

</div>


<div class="container" id="annonces">
<h2 class="text-center my-5">Nos biens et services disponibles</h2>
<div class="row d-flex justify-content-center mb-5">

{% for bien in biens %}
<div class="col-4 card-deck">
<div class="card mb-4" style="width: 18rem;">
  <img src="/uploads/{{bien.image}}" class="card-img-top" alt="image">
<div class="categorie"><span class="badge badge-light"><a href="#" class="lien2">{{bien.categorie}}</a></span></div>

  <div class="card-body">
    <h5 class="card-title">{{bien.nomBien}}</h5>
    <p>proposé par <a href="#" class="lien">{{bien.proprietaire}}</a></p>
    <button type="button" class="btn btn-dark"><a href="{{ bien.id }}">En savoir plus</a></button>
  </div>
</div>
</div>



{% endfor %}
</div>
</div>
{% endblock %}
