{% extends 'base.html.twig' %}

{% block title %}{{categorie}}{% endblock %}

{% block body %}
<div class="container">
<h2 class="text-center"> {{categorie}} : Annonces disponibles</h2>
<div class="row d-flex justify-content-center">

{% for bien in biens %}
<div class="col-4">
{{bien.nomBien}}
<div><img src="{{bien.image}}" alt="" class="img-fluid w-50"> </div>
{{bien.categorie}}
<a href="{{ bien.id }}"> En savoir plus</a>
</div>

{% endfor %}
</div>
</div>

{% endblock %}
