{% extends 'base.html.twig' %}

{% block title %}{{categorie}}{% endblock %}

{% block body %}
<div class="container">
<h2 class="text-center"> {{categorie}} : Annonces disponibles</h2>
<div class="row">

{% for bien in biens %}
<div class="col-4">
{{bien.nomBien}}
<div><img src="/uploads/{{bien.image}}" alt="" class="img-fluid"> </div>
{{bien.categorie}}
<a href="/{{ bien.id }}"> En savoir plus</a>
</div>

{% endfor %}
</div>
</div>

{% endblock %}
